# テスト用スクリプト（一時的な検証・デバッグ用）
test_scripts/
**/test_settings/*

**/.venv/*
**/.vscode/*
.env
*.env
*.log
**/logs/*
**/v2/logs/*
**/v1/logs/*
**/OLD_App/*
**/test/*
__pycache__
**/v1/data/*
**/v2/data/*
**/v2/images/*
**/v2/templates/*
Streamnotify_on_Bluesky.code-workspace
.editorconfig
.gitattributes
**/YouTube_ALL_DATA/*
**/YouTube_ALL_DATA/yt/*
data/video_list.db
data/youtube_video_detail_cache.json
